.switch-conatiner{
    display: flex;
    height: 44px;
    font-size: 14px;
    background-color: white;
    .use-type-container{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #ebebeb;
    }
    .select-container{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}