.index-list-item{
    display: flex;
    padding: 14px 10px;
    box-sizing: border-box;
    background-color: white;
    align-items: center;
    .index-list-item_img{
        width: 24px;
        margin-right: 5px;
    }
    .index-list-item_name{
        font-size: 16px;
        color: #333;
        flex: 1;
    }
    .iconqianjin-01{
        font-size: 20px;
        color: #ABC2D9;
    }
}
.index-list-margin-item{
    margin-top: 1px;
    margin-bottom: 10px;
}