
.van-collapse-item__content{
    padding: 0;
}
.van-cell__title{
    display: flex;
    align-items: center;
}
.van-collapse-item{
    margin-left: 10px;
}
.van-cell{
    height: 48px;
}
.van-collapse::after{
    border: none;
}
 .van-hairline--top-bottom{
    border: none;
 }
 .tree-people-main{
    display: flex;
    padding: 10px 16px;
    box-sizing: border-box;
    font-size: 14px;
    color: @fontColor;
    background-color: #f7f7f7;
    margin-top: 10px;
    .tree-people-name{ 
        flex: 1;
    }
 }