.tree-contaienr{
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
    .tree-item-container{
        
        .tree-item-main{
            display: flex;
            align-items: center;
            border-bottom: 1px solid @borderColor;
            .tree-name{
                flex: 1;
                font-size: 14px;
                color: @fontColor;
            }
            .tree-report-img{
                padding: 5px;
            }
            .iconqianjin-01{
                padding: 5px;
            }
            .close-jiantou{
                transform: rotate(90deg);
                color: #B8CFE5;
            }
            .open-jiantou {
                transform: rotate(-90deg);
                color: #3780D9;
            }
        }
    }
}