
.tree-people-main{
    display: flex;
    align-items: center;
    padding-left: 16px;
    box-sizing: border-box;
    font-size: 14px;
    color: @fontColor;
    background-color: #f7f7f7;
    margin-top: 10px;
    margin-right: 16px;
    .tree-people-name{ 
        flex: 1;
    }
}
.pc-img{
    padding: 10px;
}
.saerch-input{
    width: 90%;
    display: block;
    margin: 0 auto;
}
.add-visit-btn-main{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}
.add-visit-btn{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #4064b8;
    color: #4064b8;
    background-color: white;
    border-radius: 4px;
    height: 46px;
    line-height: 46px;
}